.primary-color{
-fx-background-color: #243642;

}

.secondary-color{
-fx-background-color: #F4F4F4;
}


.left-side-border{
-fx-border-color: #fff;
-fx-border-width: 0 8 8 5;
}


.selected: hover{
 -fx-background-color: #1F509A
}

.selected_2: hover{
 -fx-background-color: #9EDF9C
}


.Button-color_1{
-fx-background-color: #9EDF9C;

}

.Button-color_2{
-fx-background-color: #1F509A;

}

.setStyle{
-fx-box-border: transparent};